WEBHOOK_PROXY_URL=https://smee.io/c3QrFmKxYuLn1jx

# Github APP
APP_ID=""
PRIVATE_KEY_PATH=""
WEBHOOK_SECRET=""
BASE_BRANCH="main"

# Cargo command options to replace with
MANIFEST_PATH="node/Cargo.toml"
BENCH_PALLET_OUTPUT_FILE="weights.rs"
BENCH_PALLET_HBS_TEMPLATE=".maintain/pallet-weight-template.hbs"

# Directory which repository is cloned into
BENCH_TEMP_DIR="git"

# Remote support - if specified - all commands are executed on the remote machine instead locally
#REMOTE_HOST=""
#REMOTE_USER=""
